#body{
    border: 1px solid #333;
    border-radius: 50%;
    margin: 50px 0 0 50px;
    text-align: center;
    min-height: auto;
    position: relative;

}

/* ------EYES---------------------------------------------------- */
.eye{
    border: 2px black solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: left;
    background-color: white;
    margin: 15px;
}

#eyes{
    display: flex;
    /* margin: 20% 0 0 0; */
    justify-content: center;
}

.iris{
    border-radius: 50%;
    width: 70%;
    height: 70%;
    border: 1px solid #333;
    text-align: center;
    position: relative;
    margin: 10%;
}

.pupil{
    border-radius: 50%;
    background-color: black;
    align-self: center;
    width: 50%;
    height: 50%;
    display: inline-block;
    margin: 10%;
}

/* ---------MOUTH-------------------------------------------------- */
#mouth{
    border-radius: 52% 51% 41% 41% / 38% 32% 95% 95%;
    background-color: #7C0000;
    width: 70%;
    height: 30%;
    border: solid 1px #333;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10% 15% 5% 15%;
    
}
.tooth{
    border: black solid 1px;
    float: left;
    background: linear-gradient(yellow, white);
    border-radius: 0 0 30% 10%;
    /* margin: 0 5px 0 3px; */
}

